<div>
  <p>
   You <%= @result %>
  </p>
  <p>
   You threw <%= params[:sign] %>
  </p>
  <p>
   The Computer threw <%= @computer %>
  </p>

  <p>
    <%= link_to "Play again", root_path %>
  </p>
</div>