<header class="header navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Bode's Rock Paper Scissors Game", root_path ,id: "logo" %>
      
    </div>
  </div>
</header>